
.manage-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 82px;
  margin-bottom: 82px;
}

h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 100px;
}

.profile-photo-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #ddd; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

input[type="file"] {
  display: block;
  margin: 0 auto 10px auto;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.update-btn,
.delete-btn {
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.update-btn {
  background-color: #19646b;
}

.delete-btn {
  background-color: #e74c3c;
}

.delete-btn:hover,
.update-btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .btn-group {
    flex-direction: column;
  }

  .update-btn,
  .delete-btn {
    width: 100%;
  }
}
